<div class="jumbotron">
    <div class="container-fluid">
        <h2>About Black Market Battles</h2>
        <br/>
        <p>Black Market Battles is my entry into the League of Legends API challenge.
            I was a bit rushed for time, so there is a lot I would like to do with this site.  But first off, here is how you play.
        </p>
        <h3>Tutorial</h3>
        <ul>
            <li>First off, create a name for yourself on the home page.</li>
            <li>Once you are in the lobby, you can host a game or join another game.  Hopefully this site will just be booming with hosted rooms :P</li>
            <li>Now that you are in a game, the fun begins!</li>
            <ul>
                <li>Betting phase!  Try your best guess at which team you think won the matchup.  Put a wager on it if you are confident.</li>
                <li>Battle phase!  Use your new found Kraken to attack your opponent or heal yourself.  You only get one action per turn!</li>
                <li>Rinse and Repeat.  Simple, right?</li>
            </ul>
        </ul>
        <h3>More coming soon!!</h3>
        <ul>
            <li>Champion Selection - choose a champ to play as</li>
            <li>Use your champion abilities instead of simple attack/heal</li>
            <li>Buy items with your kraken to increase your skills and auto attacks</li>
            <li>Better UI - If you want to help me with this, please contact me!</li>
        </ul>
        <h3>Contact Me!</h3>
        <a href="mailto:brian@cocoa-mag.com">Email is the best way to contact me.</a>

    </div>
</div>